.header{
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid blue;
	box-sizing: border-box;
	overflow: hidden;
}

.logo{
	float: left;
	border: 1px solid green;
	width: 20%;
	box-sizing: border-box;
}

.menu{
	float: right;
	border: 1px solid black;
	width: 80%;
	box-sizing: border-box;
}

.box1{
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid blue;
	box-sizing: border-box;
	overflow: hidden;
	clear: both;
}

.part_one{
	float: left;
	border: 1px solid green;
	width: 60%;
	box-sizing: border-box;
	padding: 40px;
}

.part_two{
	float: right;
	border: 1px solid black;
	width: 40%;
	box-sizing: border-box;
}

.a{
	border: 1px solid red;
	box-sizing: border-box;
}
.b{
	border: 1px solid red;
	box-sizing: border-box;
}

.box2{
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid blue;
	box-sizing: border-box;
	clear: both;
}

.segment1{
	border: 1px solid green;
	width: 33.3%;
	box-sizing: border-box;
	display: inline-block;
}

.segment2{
	border: 1px solid green;
	width: 33.3%;
	box-sizing: border-box;
	display: inline-block;
}

.segment3{
	border: 1px solid green;
	width: 33.3%;
	box-sizing: border-box;
	display: inline-block;
}